{% extends "store/base.html" %}

{% block body %}

<div class="album py-5 bg-light">
<div class="container">
  {% if mensagens %}
  <div class="alert alert-success" role="alert">
     Você tem {{ mensagens|length}} mensagen(s)
     <p><a href="" title="">Ver mensagens</a></p>
    </div>

  {% endif %}
  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Seus Imóveis</h1>
    <p class="lead">Aqui você pode gerenicar os seus anúncios de forma rápida e fácil.</p>
  </div>
</div>
<div class="row">
{% if user.meus_imoveis.all %}
{% for imovel in user.meus_imoveis.all %}
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <img class="card-img-top" src="{{imovel.fotos.all.0.image}}" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ imovel.tipo }} {{imovel.endereco.nome_logradouro}}</h5>
        <p class="card-text">{{ imovel.descricao }}.</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-primary btn-lg" href="{% url 'detalhes' imovel.id %}">
              Detalhes
            </a>
            <a class="btn btn-success btn-lg" href="{% url 'editar' imovel.id %}">
            Editar
            </a>
          </div>
          <small class="text-muted">{{ imovel.data_do_anuncio }}</small>
        </div>
      </div>
    </div>
  </div>  
{% endfor %}  
{% else %}
<div class="col-md-6">
  <div class="card mb-6 border-0">
    <img class="card-img-top" src="/media/images/cara_triste.jpg" alt="cara triste"id="triste">
    <div class="card-body">
      <p class="card-text">Você não tem imoveis cadastrados.</p>
      <p class="card-text"><a href="{% url 'add' %}" title=""> Anunciar um imóvel </a></p>
    </div>
  </div>
</div>
{% endif %}
</div>
</div>
</div>


{% endblock %}